@charset "UTF-8";
/* Stakeholders */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
nav ul li ul.dropdown-content, .features input, .small-container, .pricingBtn {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }

/* Stakeholders */
nav ul li ul.dropdown-content, .features input, .small-container, .pricingBtn {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in; }

.grid-container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto; }
  .grid-container .row {
    overflow: auto; }
    .grid-container .row::before, .grid-container .row::after {
      content: " ";
      display: table;
      clear: both; }
    .grid-container .row [class*='col-'] {
      float: left;
      min-height: 1px;
      padding: 0;
      overflow: auto; }
    .grid-container .row .col-12 {
      width: 100%; }
      @media (max-width: 550px) {
        .grid-container .row .col-12 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-11 {
      width: 91.66667%; }
      @media (max-width: 550px) {
        .grid-container .row .col-11 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-10 {
      width: 83.33333%; }
      @media (max-width: 550px) {
        .grid-container .row .col-10 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-9 {
      width: 75%; }
      @media (max-width: 550px) {
        .grid-container .row .col-9 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-8 {
      width: 66.66667%; }
      @media (max-width: 550px) {
        .grid-container .row .col-8 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-7 {
      width: 58.33333%; }
      @media (max-width: 550px) {
        .grid-container .row .col-7 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-6 {
      width: 50%; }
      @media (max-width: 550px) {
        .grid-container .row .col-6 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-5 {
      width: 41.66667%; }
      @media (max-width: 550px) {
        .grid-container .row .col-5 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-4 {
      width: 33.33333%; }
      @media (max-width: 550px) {
        .grid-container .row .col-4 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-3 {
      width: 25%; }
      @media (max-width: 550px) {
        .grid-container .row .col-3 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-2 {
      width: 16.66667%; }
      @media (max-width: 550px) {
        .grid-container .row .col-2 {
          float: none;
          width: 100%; } }
    .grid-container .row .col-1 {
      width: 8.33333%; }
      @media (max-width: 550px) {
        .grid-container .row .col-1 {
          float: none;
          width: 100%; } }

/* Fonts */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #404040;
  font-family: "Raleway", Arial, sans-serif; }

/*Nagłowek*/
header {
  background-color: #000;
  width: 100%;
  color: white; }

.logo {
  position: relative;
  display: inline-block;
  float: left;
  text-transform: uppercase;
  margin: 0.625rem 4vw;
  /* 10/16 */
  font-weight: 400;
  color: white; }

.logo > span {
  font-weight: bold;
  color: #27c7ab; }

nav {
  position: absolute;
  right: 4vw; }
  nav ul {
    font-weight: 700; }
    nav ul li {
      list-style: none;
      color: #fff;
      text-align: center;
      padding: .625rem;
      display: inline-block;
      margin: 0 auto; }
      nav ul li:hover {
        background-color: #27c7ab; }
      nav ul li.dropdown {
        position: relative; }
        nav ul li.dropdown:hover > .dropdown-content {
          display: block;
          opacity: 1;
          z-index: 2; }
      nav ul li ul.dropdown-content {
        position: absolute;
        top: 3rem;
        display: none;
        z-index: 999;
        opacity: 0; }
        nav ul li ul.dropdown-content:before {
          content: '';
          width: 0;
          height: 0;
          border: 0.625rem solid transparent;
          position: absolute;
          border-bottom-color: #000;
          left: 30%;
          top: -1.25rem;
          -webkit-transform: translate(-30%, 0);
          transform: translate(-30%, 0); }
        nav ul li ul.dropdown-content li {
          position: relative;
          display: block;
          background-color: #000;
          width: 6.25rem;
          right: 1rem; }
          nav ul li ul.dropdown-content li:hover {
            background-color: #27c7ab; }
          nav ul li ul.dropdown-content li a {
            color: #fff;
            text-decoration: none; }

.pricingBtn:hover, .contactRightCol > button:hover, .small-container input:hover {
  -webkit-box-shadow: 0.063rem 0.063rem #bbc4c4;
  box-shadow: 0.063rem 0.063rem #bbc4c4;
  /* 1/16, 1/16 */
  text-shadow: 0.063rem 0.063rem #bbc4c4;
  /* 1/16, 1/16 */ }

/*sekcja ze sliderem*/
#headed {
  height: 31.25rem;
  /* 500/16 */
  width: 100%;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(53%, #f3f3f3), to(#cac9d1));
  background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 53%, #cac9d1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cac9d1',GradientType=0 ); }

.arrow {
  display: inline-block;
  color: #27c7ab;
  padding: .5rem;
  font-size: 4em;
  margin: 13.625rem 0 13.625rem 0;
  text-align: center; }
  .arrow:hover {
    cursor: pointer; }

.left {
  float: left; }

.right {
  float: right; }

.blackChair {
  margin: 4rem 0 0 0;
  float: left;
  display: inline-block;
  width: 100%;
  height: 21.25rem;
  background-image: url("../images/black_chair.png");
  background-repeat: no-repeat;
  background-size: cover; }

.features {
  margin: 10rem 0 0 0;
  text-align: center; }
  .features h1 {
    text-transform: uppercase;
    margin: 0 auto; }
  .features span {
    color: #27c7ab;
    font-weight: bold; }
  .features p {
    margin: 1.25rem auto; }
  .features input {
    padding: .625rem 1.25rem .625rem 1.25rem;
    background-color: #27c7ab;
    border-radius: .313rem;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    border: 0.125rem solid #27c7ab; }
    .features input:hover {
      background-color: transparent;
      color: #27c7ab;
      border: 0.125rem solid #27c7ab; }

/*Sekcja z trzema kontenerami*/
.col-4 [class*="-column"] {
  height: 100%;
  margin: 1.1rem;
  position: relative; }

.col-4 .first-column {
  background-image: url("../images/box1_img.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.col-4 .second-column {
  background-image: url("../images/box2_img.jpg");
  background-size: contain;
  background-repeat: no-repeat; }

.col-4 .third-column {
  border: .063rem solid #404040;
  padding: 1.25rem; }
  .col-4 .third-column p {
    text-align: justify; }

img {
  width: 100%; }

.small-container {
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  padding: .5rem 0 .5rem 1rem;
  top: 55%;
  opacity: 1; }
  .small-container:hover {
    opacity: 0; }

.small-header {
  position: relative;
  display: block;
  width: 70%;
  border-bottom: 0.5rem solid #27c7ab;
  margin: 0 0 1rem 0; }
  .small-header:after, .small-header:before {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    width: 100%;
    display: block;
    height: 0;
    clear: both; }

/*Sekcja z cennikiem*/
#pricing {
  background-color: #d0cfd7;
  overflow: auto; }

h2 {
  display: block;
  text-transform: uppercase;
  border-bottom: 0.9rem solid #27c7ab;
  width: 30%;
  float: left;
  margin: 1.1rem 0 0 1.1rem; }

.priceContainer {
  position: relative;
  width: 90%;
  min-height: 40rem;
  /* 420/16 */
  margin: 5rem 0 2.2rem 1.1rem;
  float: left;
  display: inline-block;
  border: 0.125rem solid #a9a9a9;
  /* 2/16 */
  background-color: #e9f0ed;
  text-align: center;
  padding: 1.875rem 0 0 0;
  /* 30/16 */
  position: relative;
  color: #a9a9a9; }
  .priceContainer span.plan {
    color: #a9a9a9;
    font-size: 2rem;
    display: block;
    position: relative;
    top: 3vw; }

.priceContainerCircle {
  position: absolute;
  margin: auto;
  top: -4vw;
  left: 10vw;
  border: 0.125rem solid #a9a9a9;
  /* 2/16 */
  width: 10vw;
  /* 50/16 */
  height: 10vw;
  /* 50/16 */
  border-radius: 50%;
  z-index: 2;
  background-color: inherit; }

.priceContainerCircleSmall {
  position: relative;
  top: 25%;
  width: 50%;
  height: 50%;
  background-color: #a9a9a9;
  border-radius: 50%;
  z-index: 3;
  margin: auto; }

.priceCircle {
  position: relative;
  top: 5vw;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  border: 0.125rem solid #a9a9a9;
  /* 2/16 */
  background-color: #e9f0ed;
  display: block;
  margin: auto;
  font-weight: 700;
  color: #a9a9a9; }
  .priceCircle * {
    color: #a9a9a9; }
  .priceCircle > p > span {
    position: relative;
    top: -0.7rem;
    font-size: 3vh; }

.price {
  position: relative;
  top: 33%;
  font-size: 5vh; }

.subscription {
  margin: auto;
  line-height: 1.2rem;
  font-size: 0.8rem;
  position: relative;
  top: 35%; }

.pricingFeatures {
  position: relative;
  top: 3rem;
  width: 100%;
  background-color: #a9a9a9; }

.pricingFeatures > p {
  padding: 0.313rem;
  /* 5/16 */
  color: #5b5b5b; }

.pricingFeatures > p:nth-child(2n+2) {
  background-color: #e9f0ed; }

.pricingBtn {
  position: absolute;
  width: 33.333%;
  left: 33.333%;
  bottom: 0.5rem;
  background-color: #27c7ab;
  color: white;
  font-size: 1em;
  padding: 0.313rem 0.438rem;
  /* 5/16, 7/16 */
  border-radius: 0.313rem;
  /* 5/16 */
  outline: none;
  border: none;
  margin: 1.5rem 0 1.5rem 0;
  cursor: pointer; }

.pricingBtn:hover {
  color: #27c7ab;
  background-color: #e9f0ed;
  border: 0.063rem solid #27c7ab;
  /* 1/16 */ }

.reversed {
  border: none;
  background-color: #27c7ab;
  border: 0.125rem solid #27c7ab;
  /* 2/16 */
  color: #e9f0ed; }
  .reversed .priceCircle * {
    color: #27c7ab; }
  .reversed .priceContainerCircleSmall {
    background-color: #e9f0ed; }
  .reversed .pricingBtn {
    color: #27c7ab;
    background-color: #e9f0ed; }
  .reversed .pricingBtn:hover {
    color: #e9f0ed;
    background-color: #27c7ab;
    border: 0.063rem solid #e9f0ed;
    /* 1/16 */ }

/* Formularz kontaktowy */
.contactLeftCol {
  margin: 1.1rem; }
  .contactLeftCol label {
    display: block;
    margin: 0 0 0 .5rem; }
  .contactLeftCol > form input, .contactLeftCol textarea {
    width: 90%;
    border: 0.063rem solid #27c7ab;
    /* 1/16 */
    border-radius: 0.313rem;
    /* 5/16 */
    margin: 0.313rem;
    /* 5/16 */
    padding: 0.188rem;
    /* 3/16 */ }
  .contactLeftCol > form input {
    height: 1.875rem;
    /* 30/16 */ }

.contactRightCol {
  margin: 1.1rem;
  float: right; }
  .contactRightCol > img {
    width: 60%;
    display: block;
    margin: 0 auto; }

.checkbox {
  float: left;
  height: 2.5rem;
  /* 40/16 */
  margin: 10% auto;
  position: relative; }
  .checkbox > input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer; }
  .checkbox input[type="checkbox"] {
    display: none; }
  .checkbox label {
    line-height: 1.4rem; }
  .checkbox > input[type="checkbox"] + label:before {
    content: " ";
    display: inline-block;
    float: left;
    margin-right: 0.2rem;
    width: 2.625rem;
    /* 42/16 */
    height: 2.625rem;
    /* 42/16 */
    margin-right: 0.5em;
    border: 0.063rem solid #27c7ab;
    /* 1/16 */ }
  .checkbox > input[type="checkbox"]:checked + label:before {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center; }

.contactRightCol > button {
  display: block;
  width: 100%;
  margin: 0.938rem auto;
  /* 15/16 */
  padding: 0.625rem;
  /* 10/16 */
  border-radius: 0.625rem;
  /* 10/16 */
  background-color: #27c7ab;
  color: #fff;
  font-size: 2em;
  outline: none;
  border: none;
  cursor: pointer; }

.contactRightCol > button:hover {
  background-color: #fff;
  border: 0.063rem solid #27c7ab;
  /* 1/16 */
  color: #27c7ab; }

/*Stopka*/
footer {
  margin: 2%; }

footer * {
  color: #a9a9a9; }

#copyright {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0.625rem 0 0 0;
  /* 10/16 */ }

.socialMedia {
  display: inline-block;
  position: relative;
  left: 20%; }
  .socialMedia img {
    width: 22%; }

footer .logo {
  float: right;
  display: inline-block; }

footer .logo {
  color: #a9a9a9; }

footer .logo span {
  color: #a9a9a9; }

/*# sourceMappingURL=main.css.map */
