@import "partials/variables";
@import "partials/mixins";
@import "partials/colors";
@import "partials/grid";


/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #404040;
    font-family: "Raleway", Arial, sans-serif;
}
/*Nagłowek*/
header {
    background-color: #000;
    width: 100%;
    color: white;

}

.logo {
    position: relative;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin: 0.625rem 4vw; /* 10/16 */
    font-weight: 400;
    color: white;

}
.logo > span {
    font-weight: bold;
    color: $mainColor;
}

nav{
    position: absolute;
    right: 4vw;
    ul{
        font-weight: 700;
        li{
            list-style: none;
            color: #fff;
            text-align: center;
            padding: .625rem;
            display: inline-block;
            margin: 0 auto;
            &:hover{
                background-color: $mainColor;
            }

            &.dropdown{
                position: relative;

                &:hover > .dropdown-content{
                    display: block;
                    opacity: 1;
                    z-index: 2;
                }
            }
            ul.dropdown-content{
                @extend %transition;
                @include arrow('top', #000, 0.625rem, 30%);

                top: 3rem;
                display: none;
                z-index: 999;
                opacity: 0;

                &:hover{

                }
                li{
                    position: relative;
                    display: block;
                    background-color: #000;
                    width: 6.25rem;
                    right: 1rem;

                    &:hover{
                        background-color: $mainColor;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

.pricingBtn:hover, .contactRightCol > button:hover, .small-container input:hover {
    box-shadow: 0.063rem 0.063rem #bbc4c4; /* 1/16, 1/16 */
    text-shadow: 0.063rem 0.063rem #bbc4c4; /* 1/16, 1/16 */
}

/*sekcja ze sliderem*/

#headed {
    // height: 31.25rem; /* 500/16 */
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 53%, #cac9d1 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 53%,#cac9d1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 53%,#cac9d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cac9d1',GradientType=0 );
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $mainColor;
    padding: .5rem;
    font-size: 4em;
    text-align: center;

    &:hover{
        cursor: pointer
    }
}
.left {
    left: 0;
    float: left;
}
.right {
    right: 0;
    float: right;
}
.blackChair {
    margin: 2rem 0 0 0;
    float: left;
    display: inline-block;
    width: 100%;
    height: 25rem;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.features{
    text-align: center;
    padding: 5rem;
    h1{
        text-transform: uppercase;
        margin: 0 auto;
    }
    span{
        color: $mainColor;
        font-weight: bold;
    }
    p {
        margin: 1.25rem auto;
    }
    input {
        @extend %transition;

        padding: .625rem 1.25rem .625rem 1.25rem;
        background-color: $mainColor;
        border-radius: .313rem;
        border: none;
        outline: none;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        border: .125rem solid $mainColor;

        &:hover{
            background-color: transparent;
            color: $mainColor;
            border: .125rem solid $mainColor;
        }
    }
}


/*Sekcja z trzema kontenerami*/


.col-4{
    [class*="-column"]{
        height: 100%;
        margin: 1.1rem;
        position: relative;
    }
    .first-column {
        background-image: url("../images/box1_img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .second-column {
        background-image: url("../images/box2_img.jpg");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .third-column {
        border: .063rem solid #404040;
        padding: 1.25rem;

        p{
            text-align: justify;
        }
    }
}

img{
    width: 100%;
}
.small-container{
    @extend %transition;

    float: left;
    width: 100%;
    background-color: $label-colors;
    position: absolute;
    padding: .5rem 0 .5rem 1rem;
    top: 55%;
    opacity: 1;

    &:hover{
        opacity: 0;
    }
}

.small-header {
    @include clearfix();
    position: relative;
    display: block;
    width: 70%;
    border-bottom: .5rem solid $mainColor;
    margin: 0 0 1rem 0;
}

/*Sekcja z cennikiem*/

#pricing {
    background-color: #d0cfd7;
    overflow: auto;
}
h2 {
    display:block;
    text-transform: uppercase;
    border-bottom: .9rem solid $mainColor;
    width: 30%;
    float: left;
    margin: 1.1rem 0 0 1.1rem;
}

.priceContainer {
    position: relative;
    width: 90%;
    min-height: 40rem; /* 420/16 */
    margin: 8rem 0 2.2rem 1.1rem;
    float: left;
    display: inline-block;
    border: 0.125rem solid $grey-background; /* 2/16 */
    background-color: $white-background;
    text-align: center;
    position: relative;
    color: $grey-background;

    span.plan {
    color: $grey-background;
    font-size: 2rem;
    display: block;
    position: relative;
    top: 6.25rem;
    }
}

.priceContainerCircle {
    position: relative;
    margin: 0 auto;
    top: -7.25rem;
    border: 0.125rem  solid $grey-background; /* 2/16 */
    width: 9.25rem; /* 50/16 */
    height: 9.25rem; /* 50/16 */
    border-radius: 50%;
    z-index: 2;
    background-color: inherit;

    @media ($tablet){
        top: -8.5rem;
        width: 12.5rem; /* 50/16 */
        height: 12.5rem; /* 50/16 */
    }
    @media ($desktop){
        top: -8rem;
        width: 10rem; /* 50/16 */
        height: 10rem; /* 50/16 */
    }
}
.priceContainerCircleSmall{
    position: relative;
    top: 25%;
    width: 50%;
    height: 50%;
    background-color: $grey-background;
    border-radius: 50%;
    z-index: 3;
    margin: auto;
}

.priceCircle {
    position: relative;
    bottom: 2rem;
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    border: 0.125rem solid $grey-background; /* 2/16 */
    background-color: $white-background;
    display: block;
    margin: auto;
    font-weight: 700;
    color: $grey-background;

    * {
        color: $grey-background;
    }
}

.price {
    position: relative;
    top: 25%;
    font-size: 4rem;
    
    & > span {
        position:relative;
        top: -1.5rem;
        font-size: 2rem;
    }

    @media ($desktop){
        font-size: 5rem;

        & > span {
            top: -2rem;
            font-size: 3rem;
        }
    }
}

.subscription {
    margin: auto;
    line-height: 1.2rem;
    font-size: 0.8rem;
    position: relative;
    top: 30%;
}
.pricingFeatures {
    position: relative;
    top: 1rem;
    width: 100%;
    background-color: $grey-background;
    
    & > p {
        padding: 0.313rem; /* 5/16 */
        color: $features;
    }
    & > p:nth-child(2n+2) {
        background-color: $white-background;
    }
}

.pricingBtn {
    @extend %transition;

    position: absolute;
    width: 33.333%;
    left: 33.333%;
    bottom: 0.5rem;
    background-color: $mainColor;
    color: white;
    font-size: 1em;
    padding: 0.313rem 0.438rem; /* 5/16, 7/16 */
    border-radius: 0.313rem; /* 5/16 */
    outline: none;
    border: none;
    margin: 1.5rem 0 1.5rem 0;
    cursor: pointer;
}

.pricingBtn:hover {
    color: $mainColor;
    background-color: $white-background;
    border: 0.063rem solid $mainColor; /* 1/16 */
}
.reversed {

    border: none;
    background-color: $mainColor;
    border: 0.125rem solid $mainColor; /* 2/16 */
    color: $white-background;
    .priceCircle * {
       color: $mainColor;
    }
    .priceContainerCircleSmall{
        background-color: $white-background;
    }
    .pricingBtn {
        color: $mainColor;
        background-color: $white-background;
    }
        .pricingBtn:hover {
        color: $white-background;
        background-color: $mainColor;
        border: 0.063rem solid $white-background; /* 1/16 */
    }
}

/* Formularz kontaktowy */

.contactLeftCol{
    margin: 1.1rem;
    & label {
        display: block;
        margin: 0 0 0 .5rem;
    }
    & > form input, textarea {
        width: 90%;
        border: 0.063rem solid $mainColor; /* 1/16 */
        border-radius: 0.313rem; /* 5/16 */
        margin: 0.313rem; /* 5/16 */
        padding: 0.188rem; /* 3/16 */
    }
    & > form input {
        height: 1.875rem; /* 30/16 */
    }
}



.contactRightCol{
    margin: 1.1rem;
    float: right;

    & > img {
        width: 60%;
         display: block;
         margin: 0 auto;
     }
}



.checkbox {
    float: left;
    height: 2.5rem; /* 40/16 */
    margin: 10% auto;
    position: relative;

    & > input[type="checkbox"] + label {
        display: inline-block;
        cursor: pointer;
    }

    & input[type="checkbox"] {
        display: none;
    }
    & label {
        line-height: 1.4rem;
    }

    & > input[type="checkbox"] + label:before {
        content: " ";
        display: inline-block;
        float: left;
        margin-right: 0.2rem;
        width: 2.625rem; /* 42/16 */
        height: 2.625rem; /* 42/16 */
        margin-right: 0.5em;
        border: 0.063rem solid $mainColor; /* 1/16 */
    }
    & > input[type="checkbox"]:checked + label:before {
        background-image: url("../images/form_ok.jpg");
        background-repeat: no-repeat;
        background-position: center;
    }
}


.contactRightCol > button {
    @extend %transition;
    display: block;
    width: 100%;
    margin: 0.938rem auto; /* 15/16 */
    padding: 0.625rem; /* 10/16 */
    border-radius: 0.625rem; /* 10/16 */
    background-color: $mainColor;
    color: $white-background;
    font-size: 2em;
    outline: none;
    border: none;
    cursor: pointer;
}
.contactRightCol > button:hover {
    background-color: $white-background;
    border: 0.063rem solid $mainColor; /* 1/16 */
    color: $mainColor;
}

/*Stopka*/

footer {
    margin: 2%;
}
footer * {
    color: $grey-background;
}
#copyright {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0.625rem 0 0 0; /* 10/16 */
}

.socialMedia {
    // width: 10%;
    display: inline-block;
    position: relative;
    left: 20%;

    img{
        width: 22%
    }
}

footer .logo {
    float: right;
    display: inline-block;
}
footer .logo {
    color: $grey-background
}
footer .logo span{
    color: $grey-background;
}
