@import "partials/mixins";
@import "partials/colors";
@import "partials/grid";

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    margin: 0 auto;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: #404040;
    font-family: "Raleway", Arial, sans-serif;
}
/*Nagłowek*/
header {
    background-color: #000;
    width: 100%;
    color: white;

}

.logo {
    position: relative;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin: 10px auto;
    font-weight: 400;
    color: white;

}
.logo > span {
    font-weight: bold;
    color: $mainColor;
}

nav{
    ul{
        font-weight: 700;
        li{
            list-style: none;
            color: #fff;
            text-align: center;
            padding: .625rem;
            display: inline-block;
            margin: 0 auto;
            &:hover{
                background-color: $mainColor;
            }

            &.dropdown{
                &:hover > .dropdown-content{
                position: absolute;
                display: block;
                opacity: 1;
                }
            }
            ul.dropdown-content{
                @extend %transition;
                @include arrow('top', #000, 0.625rem);

                top: 3rem;
                display: none;
                z-index: 999;
                opacity: 0;

                &:hover{

                }
                li{
                    display: block;
                    background-color: #000;
                    width: 6.25rem;

                    &:hover{
                        background-color: $mainColor;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

        }
    }
}

.pricingBtn:hover, .contactRightCol > button:hover, .small-container input:hover {
    box-shadow: 1px 1px #bbc4c4;
    text-shadow: 1px 1px #bbc4c4;
}

/*sekcja ze sliderem*/

#headed {
    height: 500px;
    width: 100%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 53%, #cac9d1 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 53%,#cac9d1 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 53%,#cac9d1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cac9d1',GradientType=0 );
}

.arrow {
    display: inline-block;
    color: $mainColor;
    padding: .5rem;
    font-size: 4em;
    margin: 13.625rem 0 13.625rem 0;
    text-align: center;

    &:hover{
        cursor: pointer
    }
}
.left {
    float: left;
}
.right {
    float: right;
}
.blackChair {
    margin: 4rem 0 0 0;
    float: left;
    display: inline-block;
    width: 100%;
    height: 21.25rem;
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.small-container {
    display: inline-block;
    width: 40%;
    margin: 11.25rem 0 0 0;
    text-align: center;
}
.features{
    margin: 10rem 0 0 0;
    text-align: center;
    h1{
        text-transform: uppercase;
        margin: 0 auto;
    }
    span{
        color: $mainColor;
        font-weight: bold;
    }
    p {
        margin: 1.25rem auto;
    }
    input {
        padding: .625rem 1.25rem .625rem 1.25rem;
        background-color: $mainColor;
        border-radius: .313rem;
        border: none;
        outline: none;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        border: .125rem solid $mainColor;

        &:hover{
            background-color: transparent;
            color: $mainColor;
            border: .125rem solid $mainColor;
        }
    }
}


/*Sekcja z trzema kontenerami*/

.small-container {
    float: left;
    display: inline-block;
    width: 100%;

    margin: 0.5rem;


    &:hover{
            & .innerRowContainer{
                    @include simpleTransition(300ms, linear);
                    opacity: 0;
            }
    }
}
.three-columns{
    height: 16rem;
    &:first-of-type {
        background-image: url("../images/box1_img.jpg");
        background-repeat: no-repeat;

    }
    &:nth-of-type(2) {
        background-image: url("../images/box2_img.jpg");
        background-repeat: no-repeat;
    }

    &:last-of-type {
            border: 1px solid #404040;
            padding: 20px;
    }
}

.innerRowContainer {
        @include simpleTransition(300ms, linear);
        position: absolute;
        width: 100%;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.4);
        margin: 120px 0 0 0;
        padding: 20px 10px 0 10px;
        opacity: 1;

}

.small-header {
    position: relative;
    display: block;
    width: 200px;
    margin: 0    0 15px;
    border-bottom: 7px solid $mainColor;
}

/*Sekcja z cennikiem*/

#pricing {
    background-color: #d0cfd7;
    overflow: auto;
}
h2 {
    display:block;
    text-transform: uppercase;
    border-bottom: 7px solid $mainColor;
    width: 30%;
    float: left;
    margin: 3% 70% 0 0;
}

.priceContainer {
    width: 30%;
    height: 420px;
    margin: 5% 0.5%;
    float: left;
    display: inline-block;
    width: 30%;
    border: 2px solid    #969696;
    background-color: #f9f9f9;
    text-align: center;
    padding: 30px 0 0 0;
    position: relative;
    color:    #969696;
}
.priceContainer:nth-last-of-type(2n+2){
    background-color: $mainColor;
    border: 2px solid $mainColor;
    color: #f9f9f9;
}
.priceContainerCircle {
    position: relative;
    margin: auto;
    top: -22%;
    border: 2px solid    #969696;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
    background-color: inherit;
}
.priceContainer:nth-last-of-type(2n+2) * {
    border: none;
}
.priceContainerCircleSmall{
    position: relative;
    top: 25%;
    width: 50%;
    height: 50%;
    background-color:    #969696;
    border-radius: 50%;
    z-index: 3;
    margin: auto;
}
.priceContainer:nth-last-of-type(2n+2) .priceContainerCircleSmall{
    background-color: #f9f9f9;
}
.priceCircle {
    position: relative;
    top: -5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid    #969696;
    background-color: #f9f9f9;
    display: block;
    margin: auto;
    font-weight: 700;
}
.priceCircle * {
    color:    #969696;
}
.priceContainer:nth-last-of-type(2n+2) .priceCircle * {
    color: $mainColor;
}
.price {
    position: relative;
    top: 33%;
    font-size: 1.5em;
}
.priceCircle > p > span {
    position:relative;
    top: -0.7em;
    font-size: 0.7em;
}
.subscription {
    margin: auto;
    line-height: 1.2em;
    font-size: 0.8em;
    position: relative;
    top: 35%;
}
.pricingFeatures {
    position: relative;
    top: 5%;
    width: 100%;
    background-color:    #969696;
}
.pricingFeatures > p {
    padding: 5px;
}
.pricingFeatures > p:nth-child(2n+2) {
    background-color: #f1f1f1;
}

.pricingBtn {
    width: 30%;
    position: absolute;
    left: 35%;
    top: 90%;
    background-color: $mainColor;
    color: white;
    font-size: 1em;
    padding: 5px 7px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.pricingBtn:hover {
    color: $mainColor;
    background-color: #f9f9f9;
    border: 1px solid $mainColor;
}
.priceContainer:nth-last-of-type(2n+2) .pricingBtn {
    color: $mainColor;
    background-color: #f9f9f9;
}
.priceContainer:nth-last-of-type(2n+2) .pricingBtn:hover {
    color: #f9f9f9;
    background-color: $mainColor;
    border: 1px solid #f9f9f9;
}
.contactLeftCol{
    float: left;
    width: 70%;
    margin: 4% 0;
}

.contactLeftCol > form input, textarea {
    width: 90%;
    border: 1px solid $mainColor;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}
.contactLeftCol > form input {
    height: 30px;
}

.contactRightCol{
    width: 30%;
    margin: 4% 0;
    float: right;
}

.contactRightCol > img {
     display: block;
     margin: 0 auto;
 }

.checkbox {
    float: left;
    height: 40px;
    margin: 10% auto;
    position: relative;
}
.checkbox > input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox label {
    line-height: 1.4em;
}

.checkbox > input[type="checkbox"] + label:before {
    content: " ";
    display: inline-block;
    float: left;
    margin-right: 0.2em;
    width: 42px;
    height: 42px;
    margin-right: 0.5em;
    border: 1px solid $mainColor;
}
.checkbox > input[type="checkbox"]:checked + label:before {
    background-image: url("../images/form_ok.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.contactRightCol > button {
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: $mainColor;
    color: #fff;
    font-size: 2em;
    outline: none;
    border: none;
    cursor: pointer;
}
.contactRightCol > button:hover {
    background-color: #fff;
    border: 1px solid $mainColor;
    color: $mainColor;
}

/*Stopka*/

footer {
    margin: 2%;
}
footer * {
    color:    #969696;
}
#copyright {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 10px 0 0 0;
}

.socialMedia {
    display: inline-block;
    position: relative;
    left: 20%;
}

footer .logo {
    float: right;
    display: inline-block;
}
footer .logo {
    color:    #969696
}
footer .logo span{
    color: #969696;
}
