@import "variables";

.grid-container {
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    .row{
        overflow: auto;
        &::before,
        &::after {
            content: " ";
            display: table;
            clear: both;
        }

        [class*='col-']{
            float: left;
            min-height: 1px;
            padding: 0;
            overflow: auto;
        }
        $i: $columns;

        @while $i > 0 {
            .col-#{$i}{
                width: $i * $columnWidth;
                @media ($smartphone) {
                    float: none;
                    width: 100%;
                }
                @media ($tablet) {
                   @if $i > 9 {
                       width: 100%;
                   } @else {
                       width: 50%;
                   } 
                }
            }
            $i: $i - 1;
        }


    }


}
