@import "variables";

.grid-container {
    position: relative;
    width: 100%;
    max-width: $maxWidth;
    margin: 0 auto;
    .row{
        overflow: auto;
        // &::before,
        // &::after {
        //     content: " ";
        //     display: table;
        //     clear: both;
        // }

        [class*='col-']{
            float: left;
            min-height: 1px;
            padding: 12px;
        }
        $i: $columns;

        @while $i > 0 {
            .col-#{$i}{
                width: $i * $columnWidth;
                @media(max-width: 550px){
                    float: none;
                    width: 100%;
                }
            }
            $i: $i - 1;
        }


    }


}
