@mixin clearfix() {
    &:after, &:before {
        content: " ";
        /* Older browser do not support empty content */
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
@mixin arrow($direction, $color: #ff0000, $size: .5rem) {
    position: absolute;
    &:before {
        content: '';
        width: 0;
        height: 0;
        border: $size solid transparent;
        position: absolute;

        @if $direction == 'top' {
            border-bottom-color: $color;
            left: 50%;
            top: -($size*2);
            transform: translate(-50%, 0);
        } @if $direction == 'bottom' {
            border-top-color: $color;
            left: 50%;
            bottom: -($size*2);
            transform: translate(-50%, 0);
        } @if $direction == 'right' {
            border-left-color: $color;
            top: 50%;
            right: -($size*2);
            transform: translate( 0, -50%);
        } @if $direction =='left' {
            border-right-color: $color;
            top: 50%;
            left: -($size*2);
            transform: translate( 0, -50%);
        }
    }
}

@mixin simpleTransition($duration, $timingFunction){
    -webkit-transition: $duration $timingFunction;
    -ms-transition: $duration $timingFunction;
    -o-transition: $duration $timingFunction;
    transition: $duration $timingFunction;
}
@mixin setPlaceholder{
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &:-moz-input-placeholder {
        @content;
    }

}

@mixin display_flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex_dir($value) {
    -webkit-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin flex_align ($value) {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
    -webkit-align-items: $value;
    align-items: $value;
}
@mixin flex_justify($value){
    -webkit-justify-content: $value;
	-moz-justify-content: $value;
	-ms-justify-content: $value;
	justify-content: $value;
}
@mixin flex_wrap($value) {
    -webkit-box-wrap: $value;
    -moz-box-wrap: $value;
    -ms-flex-wrap: $value;
    -webkit-wrap-items: $value;
    flex-wrap: $value;
}

@mixin flex_flow($direction, $wrap){
    -webkit-flex-flow: $direction $wrap;
	-moz-flex-flow: $direction $wrap;
	-ms-flex-flow: $direction $wrap;
	flex-flow: $direction $wrap;
}
