/* device widths */

$smartphone: 'max-width: 600px';
$tablet: 'min-width: 601px) and (max-width: 1023px';
$desktop: 'min-width: 1024px';


$columns: 12;
$containerFullWidth: 100%;
$maxWidth: 75rem;

$columnWidth: $containerFullWidth/$columns;

/* Stakeholders */

%transition{
    transition: .2s ease-in;
}
